<h1>Welcome <%= current_user.email %></h1>
<%= link_to 'New Article', new_article_path %>
<h1>Articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBody</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= article.body %></td>
    <td>&nbsp<%= link_to 'Show', article_path(article) %></td>
    <td>&nbsp<%= link_to 'Edit', edit_article_path(article) %></td>
    <% if article.user_id == current_user.id %>
    <td>&nbsp<%= link_to 'Delete', article_path(article),method: :delete,data: { confirm: 'Are you sure'} %></td>
    <% end %>
  </tr>
  <% end %>
</table>
